<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>姓名：<%= user.name %></p>
<p>密码：<%= user.email %></p>

</body>
</html>